*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f2cce1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

h1{
    color: #333;
}

label{
    color: black;
    font-size: 23px;
    font-weight: 500;
}

.box{
    background-color: white;
    width: 950px;
    padding: 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.form-control{
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 15px;
}

.form-control:focus{
    outline: none;
    border-color: #ec4899;
}

.but{
    font-size: 20px;
    padding: 12px 25px;
    background-color: #ec4899;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.but:hover{
    background-color: #df54c1;
}



.Table{
    margin-top: 40px;
    width: 950px;
    background-color: white;
    color: black;
    border-collapse: collapse;
    text-align: center;
    font-size: 18px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.Table th{
    background-color: #ec4899;
    color: white;
    padding: 15px;
}

.Table td{
    padding: 12px;
    border: 1px solid #ddd;
}

